.navbar {
  width: 100%;
  height: 50px;
  background-color: rgb(205, 13, 13);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

.icon-brand h1 {
  color: white;
}
