label {
  font-weight: bold;
  margin-right: 3px;
}

input[type="number"] {
  max-width: 40px;
}

/* input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
} */
